/* Header */

header{
    background: linear-gradient(#00000086, #0000004e), url(../img/imagem-3.jpg);
  background-position: center;
  background-size: cover;
  height: 80vh;
}

.fix.fixed {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
    background-color: var(--primaria);
}

.fix{
    padding: 30px;
    text-align: center;
}

.fix .logo img{
    width: 180px;
}

.menu-toggle{
    display: inline-block;
}

.menu-toggle button{
    background-color: transparent;
    margin-top: 5px;
}

.linha{
    width: 30px;
    height: 3px;
    background-color: white;
    display: block;
    margin: 7px;
    position: relative;
    transform-origin: center ;
    transition: .5s;
}

.menu-toggle button.ativar .linha:nth-child(1){
    transform: translateY(5px) rotate(-45deg);
}

.menu-toggle button.ativar .linha:nth-child(3){
    transform: translateY(-5px) rotate(45deg);
}

.menu-toggle button.ativar .linha:nth-child(2){
    display: none;
}

.nav-list{display: none;}

@media screen and (max-width:660px){

    .nav-list{
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity 0.5s ease, height 0.5s ease;
    }

.show{
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    background-color: var(--primaria);
    padding: 30px;
    width: 97%;
    margin: 0 auto;
    border-radius: 3px;
    text-align: left;
    opacity: 1;
  height: auto;
  /* transition: opacity 0.5s ease, height 0.5s ease; */
}
}

.nav-list li{
    margin-top: 10px;
    border-bottom: 2px solid var(--branco);
}

.nav-list li:hover{border-bottom: 3px solid var(--terciaria);}

.nav-list li a{
    color: var(--branco);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.92);
    transition: .4s linear;
}

.titulo-faq h1{
    color: var(--branco);
    font-size: 2.5rem;
    font-family: 'Raleway';
    padding: 3rem;
    letter-spacing: -2px;
    font-weight: 800px;
}

/* Main */

.faq-main{
    padding: 40px;
}

.div-faq{
    width: 100%;  
    margin: 8px;
    
}

.faq-btn{
    font-family: 'Raleway';
    font-size: .8rem;
    font-weight: 700;
    display: flex;
    gap: 10px;
    border: 1px solid var(--light);
    padding: 10px;
    cursor: pointer;
    transition: .7s ease;
}

.faq-btn:hover{
    background-color: var(--light);
}

.faq-btn button{
    background-color: transparent;
}

#toggle-button img{
    width: 1.2rem;
}

.conteudo{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--cinza);
    border: 1px solid var(--light);
    border-radius: 0 0 4px 4px;
}

.escondido {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.2s ease, height 0.3s ea
  }
  
  .visivel {
    opacity: 1;
    height: auto;
    transition: opacity 0.2s ease, height 0.3s ease;
    padding: 10px;
  }

  .whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: #25D366;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.whatsapp-button:hover {
  transform: scale(1.1);
}
