/* Header */

header{
    background: linear-gradient(#00000086, #0000004e), url(../img/imagem-2.jpg);
  background-position: center;
  background-size: cover;
  height: 90vh;
}

.fix.fixed {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
    background-color: var(--primaria);
}

.fix{
    padding: 20px;
    text-align: center;
}

.fix .logo img{
    width: 120px;
}

.menu-toggle{
    display: inline-block;
}

.menu-toggle button{
    background-color: transparent;
    margin-top: 5px;
}

.linha{
    width: 30px;
    height: 3px;
    background-color: white;
    display: block;
    margin: 7px;
    position: relative;
    transform-origin: center ;
    transition: .5s;
}

.menu-toggle button.ativar .linha:nth-child(1){
    transform: translateY(5px) rotate(-45deg);
}

.menu-toggle button.ativar .linha:nth-child(3){
    transform: translateY(-5px) rotate(45deg);
}

.menu-toggle button.ativar .linha:nth-child(2){
    display: none;
}

.nav-list{display: none;}

@media screen and (max-width:660px){
.show{
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    background-color: var(--primaria);
    padding: 30px;
    width: 97%;
    margin: 0 auto;
    border-radius: 3px;
    text-align: left;
}
}

.nav-list li{
    margin-top: 0px;
    border-bottom: 2px solid var(--branco);
}

.nav-list li:hover{border-bottom: 3px solid var(--terciaria);}

.nav-list li a{
    color: var(--branco);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.92);
    transition: .4s linear;
}

.slogan-botao{
    margin-top: 60px;
    text-align: center;
}

.slogan-botao .txt-um{
    color: var(--branco);
    font-size: 0.7rem;
    font-family: 'Roboto';
    text-transform: uppercase;
    letter-spacing: 1px;
}

.slogan-botao .btn button{
    width: 150px;
    margin: 20px auto 0 auto;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--secundaria);
    color: var(--branco);
    cursor: pointer;
    font-weight: 700;
    font-family: 'Heebo';
    transition: 1s all;
}

.slogan-botao .btn  button:hover{background-color: var(--terciaria) ;}

.slogan-botao .txt-dois{
    max-width: 500px;
    color: var(--branco);
    margin: 20px auto 0 auto;
}

/* sobre */

#sobre{
    padding: 40px;
    background-image: linear-gradient(to right, #efefef2f, var(--branco));
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.136);
}

#sobre .titulo{
    color: var(--terciaria);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: 'Heebo';
    letter-spacing: 1px;
    border-bottom:  inset ;
}

.sobre-img img{
    width: 100%;
    margin-top: 20px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.354);
    border-radius: 4px;
 }

.sobre-txt h3{
    margin-top: 20px;
    color: var(--secundaria);
    font-size: 2.4rem;
    letter-spacing: 1px;
}

.sobre-txt p{
    margin-top: 20px;
    line-height: 25px;
    font-size: 1.1rem;
    font-family: 'Roboto';
    color: gray;
}

/*serviços*/

#servicos{width: 100%; padding: 40px;}

.servicos-titulo h2{
    max-width: 400px;
    margin: 0 auto 25px auto;
    color:  var(--terciaria);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: 'Heebo';
    letter-spacing: 1px;
    border-bottom:  inset ;
}

.servico{
    width: 400px;
    height: 320px;
    margin: 0 auto 5px auto ;
    background-color: var(--branco);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.221);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.servico p{
    color: gray;
    text-align: left;
}

.servico a img{width: 25%;}

.servico h2  a {
    color: var(--black);
    font-size: 24px;
    text-transform: capitalize;
}

.servico h2{
    text-align: left;
}

.servico h3 a{
    color: var(--secundaria);
}

.servico h3{
    text-align: left;
}

/* Localização */

#localizacao{
    padding:0 40px;
    width: 100%;
    background-image:  url(../img/fundo-mapa.jpg);
    background-position: center;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.307);
}

#localizacao h2{
    padding-top: 20px;
    display: block;
    margin: 10px auto;
    width: 140px;
    color: var(--primaria);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: 'Heebo';
    letter-spacing: 1px;
    border-bottom: 1px solid white;
}

.map-container {
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 60px;
    
}

.map-iframe {
    width: 100%;
    height: 400px; /* Ajuste conforme necessário */
    border: 0; /* Remova a borda padrão do iframe, se houver */
    border-radius: 10px; /* Ajuste conforme necessário */
}